{% extends "common/layout_main.html" %}
{% block content %}
{% include "common/table_member.html" %}
<div class="row">
    <div class="col-lg-12">
        <form class="form-inline wrap_search">
            <div class="row  m-t p-w-m">
                <div class="form-group">
                    <select name="status" class="form-control inline">
                        <option value="-1">请选择状态</option>
                        {% for tmp in status_mapping %}
                            <option value="{{ tmp }}" {% if tmp == search_con['status'] %} selected {% endif %}>{{ status_mapping[ tmp ] }}</option>
                        {%  endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <select name="purview" class="form-control inline">
                        <option value="-1">请选择类型</option>
                        {% for tmp in purview_mapping %}
                            <option value="{{ tmp }}" {% if tmp == search_con['purview'] %} selected {% endif %}>{{ purview_mapping[ tmp ] }}</option>
                        {%  endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" name="mix_kw" placeholder="请输入姓名" class="form-control" value="{{search_con['mix_kw']}}">
                        <span class="input-group-btn">
                            <button type="button" class="btn  btn-primary search">
                                <i class="fa fa-search"></i>搜索
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <hr>
        </form>
        <table class="table table-bordered m-t">
            <thead>
            <tr>
                <th>ID</th>
                <th>头像</th>
                <th>姓名</th>
                <th>性别</th>
                <th>手机号</th>
                <th>类型</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% if list %}
                {% for item in list %}
            <tr>
                <td>{{ item.id }}</td>
                <td><img alt="image" class="img-circle" src="{{ item.avatar }}" style="width: 40px;height: 40px;"></td>
                <td>{{ item.nickname }}</td>
                <td>{{ item.sex_desc }}</td>
                <td>{{ item.mobile }}</td>
                <td>{{ item.purview_desc }}</td>
                <td>{{ item.status_desc }}</td>
                <td>
                    <a href="{{ buildUrl('/member/info') }}?id={{ item.id }}">
                        <i class="fa fa-eye fa-lg"></i>
                    </a>

                    {% if item.status == 1 %}
                    <a class="m-l remove" href="javascript:void(0);" data="{{  item.id }}">
                        <i class="fa fa-trash fa-lg"></i>
                    </a>
                    {% else %}
                    <a class="m-l recover" href="javascript:void(0);" data="{{  item.id }}">
                        <i class="fa fa-rotate-left fa-lg"></i>
                    </a>
                    {% endif %}
                </td>
            </tr>
                {% endfor %}
            {% else %}
                <tr><td colspan="8">暂无数据</tr>
            {% endif %}
            </tbody>
        </table>

    </div>
</div>
{% endblock %}
{% block js %}
<script src="{{ buildStaticUrl('/js/member/index.js') }}"></script>
{% endblock %}